.body{
    
    background-image: url( "https://cdn.vox-cdn.com/thumbor/RDmDetNuZmkoE0VlOZu84npPYdY=/0x0:1173x660/1200x800/filters:focal(494x237:680x423)/cdn.vox-cdn.com/uploads/chorus_image/image/65478585/Screen_Shot_2019_10_15_at_6.23.15_PM.0.png"  );
    
       font: sans-serif;
    color: white;
    
}

